{% extends 'defaults/base.html' %}
<title>{% block title %}Courses{% endblock %}</title>

{% block content %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>Video List</h1>
            {% include 'snippets/video_search_form.html' with request=request %}
            <ul>
            {% for i in object_list %}

                <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li>

            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}